main {
    background-image: linear-gradient(to bottom, #2561a0, skyblue);
    min-height: calc(100vh - 100px);
    padding-top: 50px;
    color: white;
}

header {
    @include flexCenter;
    height: 100px;
    color: white;
    background-color: #2561a0;
    padding-top: 50px;
}

header img {
    margin: 10px;
}

h1 {
    margin: 0 50px;
    text-align: center;
}

form {
    @include flexCenter;
}

.inputOptionOne,
.inputOptionTwo {
    width: 33%;
    height: calc(100vh - 175px);
    order: 1;
    position: relative;
    background-size: cover;
    @include flexCenter;
    border-radius: 5%;
}

.inputOptionTwo {
    order: 3;
}

.infoOne,
.infoTwo {
    @include buttonStyle;
    @include flexCenter;
    flex-direction: column;
    padding: 10px;
}

.center {
    width: 33%;
    order: 2;
    @include flexCenter;
    flex-direction: column;
    text-align: center;
}

.nextQuestion {
    @include buttonStyle;
    padding: 10px;
}
